@import "_resets.scss"
@import "_normalizes.scss"

$blue: #1974CE
$light-blue: #84EDFB
$light-green: #D2F064
$green: #8DB844
$text-color: #FBF9F3

@font-face 
    font-family: "Roboto"
    src: url('../assets/fonts/Roboto-Regular.ttf')
@font-face 
    font-family: "Inter"
    src: url('../assets/fonts/Inter-Regular.ttf')

*
    box-sizing: border-box

.body-page
    font-family: "Roboto"
    display: flex
    flex-direction: column
    justify-content: space-between

.container
    max-width: 1200px
    padding: 0 30px
    margin: 0 auto

.header
    background-color: $blue
    &__container
        min-height: 90px
        display: flex
        justify-content: space-between
        align-items: center
    &__enter-button
        width: 87px
        height: 36px

.nav-menu
    &__list
        display: flex
        flex-direction: row
    &__item
        margin-right: 30px
    &__link
        text-decoration: none
        font-size: 16px
        font-family: "Inter"
        color: $text-color

.button-blue
    border: none
    border-radius: 8px
    background-color: $light-blue
    color: #1A4359
    font-size: 16px
    font-family: "Inter"
    transition: all 0.3s ease-in-out
    &:hover
        background-color: $light-green

.first-section
    background-color: $blue
    &__container
        min-height: 780px
        padding-top: 90px

.main-part
    display: flex
    justify-content: space-between
    margin-bottom: 170px
    &__right
        width: 44%
        display: flex
        flex-direction: column
    &__title
        margin: 0 0 55px
        font-size: 62px
        color: $text-color
    &__subtitle
        margin-bottom: 45px
        font-size: 28px
        color: $text-color
    &__button
        width: 84%
        height: 48px
    &__left
        width: 50%
        display: flex
        flex-direction: column

.symptom-box
    width: 100%
    height: 215px
    padding: 16px
    margin-bottom: 16px
    border-radius: 10px
    background-color: $text-color
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    &_last
        margin-bottom: 0px
    &__title
        font-size: 25px
        color: $blue
    &__center-span
        position: absolute
        height: 1px
        width: 70%
        background-color: rgba(25, 116, 206, 0.5)
        left: 0px
        top: 112px
    &__img
        width: 110px
        height: 119px
        align-self: flex-end
    &__button-wrapper
        display: flex
        flex-direction: row
        align-items: center
    &__sign
        font-size: 16px
        font-family: "Inter"
        color: #1A4359
        margin-right: 10px
    &__button-pointer
        position: relative
        width: 36px
        height: 36px
        border: none
        padding: 0px
        background-color: $light-green
        transition: all 0.3s ease-in-out
        &:hover
            transform: scale(1.05)
        &_pink
            background-color: #EC9A88
    &__pointer-span
        position: absolute
        height: 4px
        background-color: #1A4359
        &_one
            width: 28px
            left: 3px
            top: 15.5px
        &_two
            width: 20px
            border-radius: 5px
            transform: rotate(45deg)
            right: 0px
            top: 9.5px
        &_three
            width: 20px
            border-radius: 5px
            transform: rotate(-45deg)
            right: 0px
            top: 21px

.main-part-link
    max-width: 917px
    display: flex
    flex-direction: row
    justify-content: space-between
    &__item
        font-size: 16px
        font-family: "Inter"
        color: $text-color

