@import "_resets.scss"
@import "_normalizes.scss"

$blue: #1974CE
$light-blue: #84EDFB
$light-green: #D2F064
$green: #8DB844
$background-color: #FBF9F3
$title-color: #1A4359

@font-face 
    font-family: "Roboto"
    src: url('../assets/fonts/Roboto-Regular.ttf')
@font-face 
    font-family: "Inter"
    src: url('../assets/fonts/Inter-Regular.ttf')

*
    box-sizing: border-box

.body-page
    font-family: "Roboto"
    display: flex
    flex-direction: column
    justify-content: space-between

.container
    max-width: 1200px
    padding: 0 30px
    margin: 0 auto

.header
    background-color: $blue
    &__container
        min-height: 90px
        display: flex
        justify-content: space-between
        align-items: center
    &__enter-button
        width: 87px
        height: 36px

.nav-menu
    &__list
        display: flex
        flex-direction: row
    &__item
        margin-right: 30px
    &__link
        text-decoration: none
        font-size: 16px
        font-family: "Inter"
        color: $background-color

.button-blue
    border: none
    border-radius: 8px
    background-color: $light-blue
    color: $title-color
    font-size: 16px
    font-family: "Inter"
    transition: all 0.3s ease-in-out
    &:hover
        background-color: $light-green

.first-section
    background-color: $blue
    &__container
        min-height: 780px
        padding-top: 90px

.main-part
    display: flex
    justify-content: space-between
    margin-bottom: 15%
    &__right
        width: 44%
        display: flex
        flex-direction: column
    &__title
        margin: 0 0 55px
        font-size: 62px
        color: $text-color
    &__subtitle
        margin-bottom: 45px
        font-size: 28px
        color: $background-color
    &__button
        width: 84%
        height: 48px
    &__left
        width: 50%
        display: flex
        flex-direction: column

.symptom-box
    width: 100%
    height: 215px
    padding: 16px
    margin-bottom: 16px
    border-radius: 10px
    background-color: $background-color
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    &_last
        margin-bottom: 0px
    &__title
        font-size: 25px
        color: $blue
    &__center-span
        position: absolute
        height: 1px
        width: 70%
        background-color: rgba(25, 116, 206, 0.5)
        left: 0px
        top: 112px
    &__img
        width: 110px
        height: 119px
        align-self: flex-end
    &__button-wrapper
        display: flex
        flex-direction: row
        align-items: center
    &__sign
        font-size: 16px
        font-family: "Inter"
        color: $title-color
        margin-right: 10px
    &__button-pointer
        position: relative
        width: 36px
        height: 36px
        border: none
        padding: 0px
        background-color: $light-green
        transition: all 0.3s ease-in-out
        &:hover
            transform: scale(1.05)
        &_pink
            background-color: #EC9A88
    &__pointer-span
        position: absolute
        height: 4px
        background-color: $title-color
        &_one
            width: 28px
            left: 3px
            top: 15.5px
        &_two
            width: 20px
            border-radius: 5px
            transform: rotate(45deg)
            right: 0px
            top: 9.5px
        &_three
            width: 20px
            border-radius: 5px
            transform: rotate(-45deg)
            right: 0px
            top: 21px

.main-part-link
    max-width: 917px
    display: flex
    flex-direction: row
    justify-content: space-between
    &__item
        font-size: 16px
        font-family: "Inter"
        color: $background-color

.helping-section
    background-color: $background-color
    &__container
        position: relative
        min-height: 960px
        padding-top: 136px

.helping-title
    position: absolute
    width: 50%
    top: 92px
    right: 7%
    font-size: 45px
    color: $title-color

.step-box-wrapper
    display: flex
    justify-content: space-between

.step-box
    width: 27%
    &_two
        margin-top: 184px
    &_three
        margin-top: 312px
    &__img-wrapper
        position: relative
    &__img
        width: 100%
        margin-bottom: 20px
    &__number-box
        position: absolute
        width: 14.7%
        height: 14.7%
        top: 16px
        left: 16px
        background-color: $title-color
        display: flex
        justify-content: center
        align-items: center
        font-size: 16px
        color: $background-color
    &__title
        margin-bottom: 20px
        font-size: 30px
        color: $blue
    &__sign
        font-size: 16px
        color: $title-color
        padding-bottom: 22px
        border-bottom: 1px solid rgba(25, 116, 206, 0.5)

.img-section
    background-color: $background-color
    &__container
        padding-top:  6.9%
        padding-bottom: 6.9%
    &__img
        width: 100%

.review-section
    &__container
        min-height: 832px

.review-section-top-part
    display: flex
    justify-content: space-between
    &__title
        width: 37%
        font-size: 48px
        color: $blue

.statistics-wrapper
    display: flex
    color: $title-color
    &__img-title
        width: 131px
        height: 26px
    &__grade-wrapper
        margin-right: 30px
        display: flex
        align-items: flex-end
    &__grade
        margin-right: 16px
        font-size: 26px
    &__reviews-amount
        font-size: 20px
    &__right-part
        display: flex
    &__stars-amount-item
        margin-bottom: 6px
        margin-right: 10px
        font-size: 16px
        &:last-child
            margin-bottom: 0px
    &__progressbar-item
        width: 142px
        height: 16px
        margin-bottom: 6px
        margin-right: 10px
        background-color: #fff
        border-radius: 2px
    &__stars-count-item
        margin-bottom: 6px
        font-size: 16px
        &:last-child
            margin-bottom: 0px

